:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(103, 215, 163);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(99, 164, 141);
  height: 70px;
}

.siteTitle {
  margin: 5px 0px 0px 200px;
  text-shadow: 1px 1px 2px white, 0 0 1em rgb(126, 117, 47), 0 0 0.2em blue;
  font-size: 40px;
  color: #3ad2ea;
}

.siteCreate {
  margin: 15px 200px 0px 0px;
  text-shadow: 1px 1px 2px rgb(95, 77, 77), 0 0 1em rgb(190, 177, 78), 0 0 0.2em rgb(146, 146, 208);
}

.siteTitle:hover, .siteCreate:hover {
  color: white;
}

.siteSearch {
  height: 30px;
  border-radius: 30px;
  margin: 17px 0px 0px 0px;
}

.CreatePost {
  display: grid;
  justify-content: center;
  padding: 0px 0px 230px 0px;
}

.EditPost {
  display: grid;
  justify-content: center;
  padding: 0px 0px 230px 0px;
}

input {
  width: 500px;
  background-color: white;
  color: black;
}

textarea {
  /* background-color: white; */
  background-color: rgb(198, 226, 225);
  color: black;
}

#titlePos, #contentPos, #imgPos {
  width: 800px;
  background-color: rgb(221, 235, 234);
}

.HomePage {
  display: grid;
  justify-content: center;
  margin: 0px 200px 0px 200px;
}

.filtersFull {
  display: flex;
}

.filters {
  margin: 15px 0px 0px 10px;
}

.newFilter, .popFilter {
  background-color: rgb(87, 187, 201);
}

.popFilter {
  margin: 0px 0px 0px 10px;
}

.post {
  background-color: rgb(115, 195, 191);;
  margin: auto;
  margin: 0px 0px 20px 0px;
  padding: 5px 0px 5px 20px;
  width: 1055px;
  border-radius: 10px;
}

.post h2, p {
  color: black;
}

.PostInfo {
  display: grid;
  justify-content: center;
  background-color: rgb(77, 193, 187);
  margin: 40px 200px 0px 200px;
  padding: 0px 0px 20px 0px;
  border-radius: 10px;
}

.timeandEdit {
  display: flex;
}

.timeandEdit h4{
  margin-left: 20px;
}

.top {
  display: flex;
}

.icons {
  margin: 10px 0px 0px 230px;
}

.icon {
  margin: 0px 10px 0px 0px;
}

.postD {
  /* display: grid;
  justify-content: center; */
  margin: 0px 200px 0px 200px;
}

.upvotes {
  margin: 40px 0px 0px 0px;
  display: flex;
}

.upvotes img {
  padding: 13px 15px 0px 0px;
}

.comments {
  background-color: rgb(87, 175, 171);
  margin: 0px 200px 0px 200px;
  padding: 10px;
}

#commentInput {
  margin: auto;
  margin: 0px 20px 0px 0px;
  text-wrap:wrap;
  width: 700px;
}

.commentLone {
  margin: 0px 0px 10px 0px;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
